<div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 mt-2"
    *ngFor="let animal of animais">
        <div class="card text-center">
            <img [src]="animal?.urlImagem" class="card-img-top" alt="...">
            <div class="card-body">
              <span class="badge bg-primary">{{ animal?.nome }}</span>
              <p class="card-text">{{ animal?.descricao}}</p>
              <button
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              (click)="selecionarAnimal(animal.id)"
              >Abrir</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <app-perfil-animal [animal]="animal"></app-perfil-animal>
</div>